body{
  color: mintcream;
  font-family: monospace;
  font-size: 1.6rem;
  background-color: midnightblue;
}
.btn{
  border: 1px solid rgb(56, 107, 184);
  color: bisque;
}
.jumbotron{
  border: lavenderblush;
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.number{
  border: none;
  background: lightgoldenrodyellow;
}